<h1><%= @vehicle.make() %></h1>
<h1><%= @vehicle.model() %></h1>
<h1><%= @vehicle.year() %></h1>
<h1><%= @vehicle.color() %></h1>
<h1><%= @vehicle.engine_size() %></h1>
<h1><%= @vehicle.number_of_doors() %></h1>

<a href="/">Home</a>
